{
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "modules": true,
    "jsx": false
  },
  "rules": {
    "semi": [2, "never"],
    "semi-spacing": [2, {"before": false, "after": false}],
    "comma-dangle": 0,
    "no-use-before-define": [2, "nofunc"],
    "quotes": [2, "single"],
    "curly": [2, "multi-line"],
    "no-undef": 2
  },
  "env": {
    "node": true,
    "es6": true
  }
}
